<h1>All of <%= @merchant.name %>'s Bulk Discounts</h1>
  <% @merchant.bulk_discounts.each do |discount| %>
    <ul>
      <li id="discount-<%= discount.id %>"><%= discount.name %></li>
    </ul>
    <% end %>
Hello
