<h1><%= @merchant.name %> Items:</h1>
<section id="merchant-items-page">
  <% @items.each do |item| %>
    <div id="item-<%= item.id%>">
      <p>Item: <%= link_to "#{item.name}", "/merchants/#{@merchant.id}/items/#{item.id}", data: { turbo_method: :get } %> </p>
    </div>
  <% end %>
</section>
