<h1><%= @merchant.name %> Items:</h1>
<section id="merchant-items-page">
  <section id="enabled-items">
    <h2>Enabled Items</h2>
      <% @items.each do |item| %>
        <% if item.status == "Enabled" %>
          <%= render partial: "/shared/forms/display_item_status", locals: { item: item } %>
        <% end %>
      <% end %>
  </section>
  <section id="disabled-items">
    <h2>Disabled Items</h2>
    <% @items.each do |item| %>
      <% if item.status == "Disabled" %>
        <%= render partial: "/shared/forms/display_item_status", locals: { item: item } %>
      <% end %>
    <% end %>
  </section>
