header {
  text-align: center;
  font-size: 500;
  font-weight: 100;
}

.merchant-dashboard {
  border: 3px solid blueviolet;
}

.merchant-dashboard h1 {
  text-align: left;
  padding-left: 5em;
  padding-top: 5em;
}

#items-ready-to-ship h3 {
  margin-right: 70em;
  margin-left: 11em;
  border: 3px solid blueviolet;
  border-bottom: transparent;
  border-left: transparent;
  border-right: transparent;
  background-color: grey;
}

#links-merchant {
  text-align: right;
  margin-right: 5em;
}

#top-five-customers h3 {
  margin-right: 11em;
  margin-left: 64em;
  border: 3px solid blueviolet;
  border-bottom: transparent;
  border-left: transparent;
  border-right: transparent;
  background-color: grey;
}