<h1>Welcome to Etsy,<br> please choose your path</h1>

<p>This is our Admin dashboard <%= link_to 'Admin Dashboard', admin_index_path %></p>
<p>This is an example of a Merchant dashboard <%= link_to 'Merchant Dashboard', "/merchants/1/dashboard" %></p>
