<h1>Welcome, please choose your path</h1>

<p>This is our <%= link_to 'Admin Dashboard', admin_index_path %></p>
<p>This is an example of a <%= link_to 'Merchant Dashboard', "/merchants/1/dashboard" %></p>
