  <h2 class="admin-top-nav-bar-heading">Admin Dashboard</h2>

  <div class="admin-top-nav-bar-links">
    <%= link_to "Welcome Page", "/" %>
    <%= link_to "Dashboard", admin_index_path %>
    <%= link_to "Merchants", admin_merchants_path %>
    <%= link_to "Invoices", admin_invoices_path %>
  </div>
