  <div class="top-nav-bar">
    <h2 class="top-nav-bar-heading">Admin Dashboard</h2>

    <div class="top-nav-bar-links">
    
      <a><%= link_to "Welcome Page", "/" %></a>
      <a><%= link_to "Dashboard", admin_index_path %></a>
      <a><%= link_to "Merchants", admin_merchants_path %></a>
      <a><%= link_to "Invoices", admin_invoices_path %></a>
    </div>
  </div>
